# ignore my Crap folder
/Crap/*

# ignore my virtual environment
/.scanner/*
/.NetworkScanner/

# ignore pycache
/__pycache__/

# ignore all .pyc files
*.pyc

#ignore my vscode json file
.vscode/*.json
.vscode/

# Ignore my testing outputs
/Output/Scans/*/
