#pythonping>=1.0.15
#ipaddress>=1.0
#re>=2.2.1

# Core Package Requirements
# multiprocessing
# time
# json
# re 
# socket

# Packages to install
pythonping
ipaddress
requests
urllib3
# dnspython for dns.flags and dns.resolver
dnspython